<%- include('header') %>
 
<div class="container">
  <div class="row ">
      <div class="col-md-6 mb-3">
          <div class="card border-0">
              <div class="meeting-option">
                  <a class="btn btn-light btn-lg" href="/join" role="button">
                      <img src="/image/join-meeting.png" alt="join">
                      <h4>Join Meeting</h4>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-md-6 mb-3">
          <div class="card border-0">
              <div class="meeting-option">
                  <a class="btn btn-light btn-lg" href="/host" role="button">
                      <img src="/image/host-meeting.png" alt="host">
                      <h4>Host Meeting</h4>
                  </a>
              </div>
            </div>
        </div>
        
  </div>
</div>

<%- include('footer') %>