<%- include('header') %>

<div class="container mt-5">
    <!-- Your form content -->
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="form">
                <form class="known-form " action="/host" method="post">
                    <h1>Host Meeting</h1>
                    <input type="text" class="name-field" placeholder="Enter your name" name="name" />
                    <button type="submit" class="btn btn-dark btn-lg">Launch Meeting</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>